#contentContainer
{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 800px;
}

#contentCenter
{

}

#about_container
{
  background-color: white;
  border-radius: 20px;
  padding:15px;

}

#about_communityDescription
{
  font-size: 1.5em;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#about_communityDescriptionHeader
{

  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

#description_text_1
{
  display:grid;
  grid-column: 2/span 3;
  text-align: center;
  margin: auto;
}

#description_text_2
{
  display:grid;
  grid-column: 1/span 3;
  grid-row: 2;
  text-align: center;
  margin: auto;
}

#description_text_3
{
  display:grid;
  grid-column: 2/span 2;
  text-align: center;
  margin: auto;
}

#discord_container
{
  display:grid;
  grid-column: 1 /span 0;
  text-align: center;
  margin: 40px
}

#discord_logo
{
  background-color: white;
  border-radius: 25px;
  margin:auto;
}


#discord_logo img
{
  height: 150px;
}
#twitter_container
{
  display:grid;
  grid-column: 1 /span 0;
  text-align: center;
  margin: 40px
}

#twitter_logo
{
  background-color: white;
  margin:auto;
  border-radius: 25px;
}


#twitter_logo img
{
  height: 125px;
}

#email_container
{
  display:grid;
  grid-column: 1 /span 0;
  text-align: center;
  margin: 40px;
}

#email_logo
{
  background-color: white;
  margin: auto;
  border-radius: 25px;
}


#email_logo img
{
  height: 100px;
}

#steam_container
{
  display:grid;
  grid-column: 1 /span 0;
  text-align: center;
  margin: 40px;
}

#steam_logo
{
  background-color: white;
  margin: auto;
  border-radius: 25px;
}


#steam_logo img
{
  height: 125px;
}