
html
{
  background-color: rgb(200 120 25);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
}
body
{
  margin: 0;
  padding: 0;
}

#header
{
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #333;
}


#navigationBarContainer
{
  display:grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin-bottom: 25px;
}
#navigationBarLeft
{
  background-color: #333;
}
#navigationBarCenter
{
  background-color: #333;
}
#navigationBarRight
{
  background-color: #333;
}
#navigationBarCenter ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#navigationBarCenter li
{
  float: left;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
}
#navigationBarCenter li:last-child
{
  float: right;
}
#navigationBarCenter li a
{
  display: block;
  width: 60px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navigationBarCenter li a:hover
{
  background-color: #111;
}

#banner
{
  text-align: center;
}


#footer
{
  background-color: #333;
  margin-top: 20px;
  height: 25%;
}



.overlay
{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #555;
  overflow-x: hidden;
  transition:.5s;
}

.overlayContent
{
  display:grid;
  grid-template-columns: .5fr 2fr 1fr .5fr;
}

.optionMenuTitle
{
  grid-column: 2;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background: orange;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 10px;
}
.optionMenuTitle:hover
{
  cursor:pointer;
}

.optionMenuSetting
{
  grid-column:3;
  //visibility: hidden;
}

.optionMenuSpan
{
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / span 2;
  text-align: center;

}
#multiStreamLinkURL
{
  grid-column: 2/ span 2;
  //visibility: hidden;
}
#multiLinkBox
{
  background:orange;
  border-width:3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

#adminConsole
{
  visibility: hidden;
}
#adminConsole:hover
{
  background-color:#EEE;
  cursor: pointer;
}

#closeOverlayButton
{
  font-size:50px;
  cursor:pointer;
  grid-column: 4;
}


#refreshOptionToggle
{
  font-size: 20px;
  margin: auto;
}

#refreshoptionToggle input[type="checkbox"]
{
  width:17px;
  height: 17px;
}