
html
{
  background-color: rgb(200 120 25);
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}
body
{
  margin: 0;
  padding: 0;
}


#navigationBar
{
  height: 60px;
}
#onlineStreamerContainer
{
  display:grid;
  grid-template-columns: 1fr 4fr 1fr
}

@media screen and (min-width: 300px)
{
  .streamerCard
  {
    max-width: 900px;
    min-width: 500px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
  }

  .streamer_name
  {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 2em;
    /* border-width: 1px;
    border-style: solid; */
    margin: auto auto auto 15px;
  }

  .streamer_logo
  {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    border-radius: 50%;
    border-style: solid;
    margin: auto;
  }

  .streamer_title
  {
    grid-column: 1 / span 2;
    grid-row: 3;
    /* border-style: solid; */
    /* max-width: 400px;*/
    margin: auto auto auto 15px;
  }

  .streamer_game
  {
    grid-column: 1 / span 2;
    grid-row: 2;
    /* border-width: 1px;
    border-style: solid; */
    margin: auto;
    text-align: center;
  }

  .streamer_views
  {
    grid-column: 4 / span 1;
    grid-row: 1;
    /* border-width: 1px; */
    /* border-style: solid; */
    margin: auto auto auto auto;
  }

  .streamer_description
  {
    grid-column: 1 / span 4;
    grid-row: 4;
    border-width: 1px;
    /* border-style: solid; */
    margin: 10px 10px 10px 10px;
    text-align:center;
  }

  .streamer_embed
  {
    grid-column: 1 / span 4;
    grid-row: 5;
    /* border-width: 1px; */
    /* border-style: solid; */
    margin: auto;
  }


  #offlineStreamerContainer
  {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  #streamerOffline
  {
    display:grid;
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width: 1250px)
{
  .streamerCard
  {
    max-width: 900px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 4fr ;
    padding: 10px;
  }
  .streamer_name
  {
    grid-column: 1 / span 3;
    grid-row: 1;
    font-size: 2em;
    /* border-width: 1px;
    border-style: solid; */
    margin: 10px 10px auto 10px;
  }
  .streamer_logo
  {
    grid-column: 4 / span 2;
    grid-row: 1 / span 3;
    border-radius: 50%;
    border-style: solid;
    margin: auto;
  }
  .streamer_title
  {
    grid-column: 1 / span 3;
    grid-row: 3;
    border-width: 1px;
    /* border-style: solid; */
    /* max-width: 400px;*/
    margin: auto auto auto 15px;
  }

  .streamer_views
  {
    grid-column: 1 / span 1;
    grid-row: 2;
    /* border-width: 1px; */
    /* border-style: solid; */
    margin: auto auto auto auto;
  }
  .streamer_game
  {
    grid-column: 2 / span 2;
    grid-row: 2;
    /* border-width: 1px;
    border-style: solid; */
    margin: auto;
    text-align: center;
  }
  .streamer_description
  {
    grid-column: 1 / span 5;
    grid-row: 5
    border-width: 1px;
    /* border-style: solid; */
    margin: 10px 30px 10px 10px;
    text-align:center;
  }
  .streamer_embed
  {
    grid-column: 6 / span 1;
    grid-row: 1 / span 6;
    /* border-width: 1px; */
    /* border-style: solid; */
    margin: auto;
  }


  #offlineStreamerContainer
  {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  #streamerOffline
  {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}

#update
{
  display:grid;
  grid-template-columns: 1;
}

.user_image
{
  height: 100px;
  border-radius: 50%;
}


hr
{
  width: 70%;
}
#header
{
  margin: 0px;
  padding: 0px;
  display:grid;
  grid-template-columns: 1fr 5fr;
  background-color: #333;
}
#banner
{
}

#pageHeader
{
  font-size: 6em;
  color: rgb(200, 120, 25);
  text-shadow: 3px 3px black;
  margin: auto;
}
.streamerHeader
{
  margin-top: 15px;
  text-align: center;
  font-size: 3em;
  text-shadow: 1px 1px white;
}
#viewers
{
  max-height: 20px;
}

#search
{
  margin: auto;

}

#searchBar
{
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

#offlineStreamerSearch
{
  width: 20%;
  margin: auto;
}

#offlineStreamerSearch:focus
{
  border: 3px solid black;
}

#footer
{
  background-color: #333;
  margin-top: 20px;
  height: 25%;
}



.streamerCardOffline
{
  width: 500px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 10px;
  grid-template-rows: 2fr, 1fr, 1fr;
  grid-template-columns: 4fr 1fr;
  padding:10px;
}

.streamer_offline_message
{
  grid-column: 1/ span 2;
  grid-row: 3;
  /* border-width: 1px;
  border-style: solid; */
}
.streamer_description_offline
{
  grid-column: 1 / span 2;
  grid-row: 2;
  margin: 10px;
  word-wrap: break-word;
  /* border-width: 1px;
  border-style: solid; */
}
.streamer_logo_offline
{
  grid-column: 3 ;
  grid-row: 1 / span 3;
  margin: auto 10px auto 10px;
  /* border-width: 1px;
  border-style: solid; */
}
.streamer_name_offline
{
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 2em;
  margin: 10px 10px auto 10px;

  /* border-width: 1px;
  border-style: solid; */
}

.streamer_offline_message
{
  margin: auto;
}